:root {
--vanilla-calendar-bg-color: #fff;
--vanilla-calendar-border-radius: 4px;
--vanilla-calendar-border-color: #e7e9ed;
--vanilla-calendar-today-bg-color: #e7e9ed;
--vanilla-calendar-today-color: #333;
--vanilla-calendar-selected-bg-color: hsl(17, 100%, 50%);
/* --vanilla-calendar-selected-bg-color: #0000ff; */
/* --vanilla-calendar-selected-color: #fff; */
--vanilla-calender-selcted-color:rgb(128, 36, 0);
--vanilla-calendar-selected-radius: 3px;
--vanilla-calender-selected-border:rgb(238, 54, 54);
--vanilla-calender-hover-color:rgb(167, 11, 11);
}

.vanilla-calendar *,
.vanilla-calendar *:before,
.vanilla-calendar *:after {
box-sizing: border-box;
}

.vanilla-calendar {
background-color: var(--vanilla-calendar-bg-color);
border-radius: var(--vanilla-calendar-border-radius);
border: solid 1px var(--vanilla-calendar-border-color);
box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
margin: 0 auto;
overflow: hidden;
width: 100%;
max-height: 150vw;
padding: 0;
margin-bottom: 20px
}

@media (max-width: 1200px) {
.vanilla-calendar {
width: auto;
}
}

.vanilla-calendar .vanilla-calendar-btn {
-moz-user-select: none;
-ms-user-select: none;
-webkit-appearance: button;
background: 0;
border: 0;
color: inherit;
cursor: pointer;
font: inherit;
line-height: normal;
min-width: 27px;
outline: 0;
overflow: visible;
padding: 0;
text-align: center;
}

.vanilla-calendar .vanilla-calendar-header {
align-items: center;
display: flex;
padding: 19.2px 22.4px;
font-family: inherit;
}

.vanilla-calendar .vanilla-calendar-header svg {
fill: #10989E;
}

.vanilla-calendar .vanilla-calendar-header__label {
font-weight: bold;
text-align: center;
width: 100%;
}

.vanilla-calendar .vanilla-calendar-week {
background-color: #E7E9ED;
display: flex;
flex-wrap: wrap;
}

.vanilla-calendar .vanilla-calendar-week span {
color: black;
flex-direction: column;
flex: 0 0 14.28%;
font-size: -3rem;
font-weight: bold;
max-width: 14.28%;
padding: 15px 0;
text-align: center;
text-transform: uppercase;
}

.vanilla-calendar .vanilla-calendar-body {
background-color: rgba(var(--vanilla-calendar-selected-bg-color), 0.3);
display: flex;
flex-wrap: wrap;
padding-bottom: 10px;
}

.vanilla-calendar .vanilla-calendar-date {
align-items: center;
background-color: #fff;
display: flex;
flex-direction: column;
flex: 0 0 14.28%;
max-width: 14.28%;
/* padding: 19px 0; */
padding: 12px 12px;
}

.vanilla-calendar-date vanilla-calendar-date--active {
cursor: pointer;
}

.vanilla-calendar .vanilla-calendar-date--today {
background-color: var(--vanilla-calendar-today-bg-color);
color: var(--vanilla-calendar-today-color);
}

.vanilla-calendar .vanilla-calendar-date--selected {
background-color: #008080;
color: var(--vanilla-calendar-selected-color);
}

.vanilla-calendar .vanilla-calendar-date--disabled {
border-radius: 0;
cursor: not-allowed;
opacity: 0.5;
}
/********EDITED********/

@media (max-width:454px) {
.vanilla-calendar .vanilla-calendar-date {
width: 100vw;
max-height: 80vw;
border-radius: 50%;
padding: 11px 0;
}
.vanilla-calendar .vanilla-calendar-week span {
color: black;
flex-direction: column;
flex: 0 0 14.28%;
font-size: -3rem;
font-weight: bold;
max-width: 14.28%;
padding: 5px 0;
text-align: center;
text-transform: uppercase;
}
.vanilla-calendar .vanilla-calendar-header {
align-items: center;
display: flex;
padding: 9.2px 22.4px;
font-family: inherit;
}
.vanilla-calendar {
padding: 0;
margin-bottom: 0;
}
.timezone_wrapper {
margin-left: 3px !important;
}
.calendar {
padding: 0 0 !important;
}
.form-control {
margin-left: 9px;
}
.col-lg-2 {
position: relative;
width: 100%;
padding-right: 20px !important;
padding-left: 20px !important;
padding-top: 15px
}
.heading {
padding: 74px 126px !important;
}
}

@media(max-width:340px) {
.vanilla-calendar .vanilla-calendar-header {
align-items: center;
display: flex;
padding: 0 10px;
font-family: inherit;
}
.heading {
padding: 74px 90px !important;
}
.form-control {
margin-left: 9px;
}
.vanilla-calendar {
border-radius: 2px;
max-height: 110vw;
padding: 0;
margin-bottom: 0;
}
.vanilla-calendar .vanilla-calendar-header {
margin-left: 8px;
}
.col-lg-2 {
position: relative;
width: 100%;
padding-right: 20px !important;
padding-left: 20px !important;
padding-top: 15px
}
.calendar {
padding: 0 0 !important;
}
.form-control {
margin-left: 9px;
}
.timezone_wrapper {
margin-left: 3px !important;
}
.vanilla-calendar .vanilla-calendar-week span {
font-size: x-small;
}
.vanilla-calendar .vanilla-calendar-date {
width: 100vw;
max-height: 80vw;
border-radius: 50%;
padding: 1px 0;
}
.vanilla-calendar .vanilla-calendar-header__label {
font-size: small;
}
}

.vanilla-calendar .vanilla-calendar-header {
background-color: var(--vanilla-calendar-selected-bg-color);
/* border-radius: 10px 10px 0 0; */
}

.vanilla-calendar .vanilla-calendar-header__label {
color: white !important;
font-size: 25px !important;
font-family: 'Libre Baskerville', serif !important;
}

.vanilla-calendar .vanilla-calendar-header svg {
fill: white !important;
}

.vanilla-calendar .vanilla-calendar-date--active {
cursor: pointer;
border-radius: 10%;
font-weight: bold;
color: #1e4724;
}

.vanilla-calendar .vanilla-calendar-date--active:hover {
background-color: var(--vanilla-calendar-selected-bg-color);
/* background-color: #0000ff; */
}

.vanilla-calendar .vanilla-calendar-date--selected {
border-radius: 10%;
background-color: var(--vanilla-calendar-selected-bg-color);
/* background-color: #0000ff !important; */
color: white;
}

.vanilla-calendar {
/* border-radius: 10px; */
border: 1px solid whitesmoke !important;
}

.vanilla-calendar .vanilla-calendar-week {
background-color: white !important;
}

.col-lg-2 {
overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
}

.col-lg-2 a {
border: 1px solid var(--vanilla-calendar-border-color) !important;
border-radius: 3px !important;
font-weight: bold;
color: var(--vanilla-calendar-selected-bg-color);
cursor: pointer;
width: 86%;
}

.col-lg-2 a:hover {
border: 1px solid #011d05;
cursor: pointer;
color: var(--vanilla-calender-hover-color);
}

.height {
margin-top: -59px !important;
max-height: 50vh;
overflow-x: hidden;
}

.col-lg-2 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
padding-top: 15px
}

.col-lg-2 h3 {
/* color: #3b8645; */
color: var(--vanilla-calendar-selected-color);
}

.heading {
padding: 74px 30px;
display: flex;align-items: center;
background: var(--vanilla-calendar-selected-color);
color: var(--vanilla-calendar-selected-color);
}
/* .vanilla-calendar-date span {
padding: 20px !important;
border-radius: 50% !important;
} */
/* .vanilla-calendar-date vanilla-calendar-date--active span {
padding: 5px !important;
background-color: #3b8645 !important;
}

.vanilla-calendar-date vanilla-calendar-date--active:hover span {
padding: 5px !important;
border-radius: 50%;
background-color: #82e790 !important;
}

.vanilla-calendar-date .vanilla-calendar-date--today span {
padding: 5px !important;
} */

@media(max-width:1440px) {
.height {
margin-top: -62px !important;
max-height: 49vh;
overflow-x: hidden;
margin-left: 11px;
margin-right: -11px;
}
.col-lg-2 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
padding-top: 15px;
}
}